<form action="/books/create" method="POST">

    <label for="">
        Title
        <input type="text" name="title">
    </label>
     <select name="author" id="" multiple>
        {{#each allAuthors}}
            <option value="{{_id}}">{{name}}</option>
        {{/each}}
     </select>
        <label for="">
            Description
        <input type="text" name="description">
    </label>
        <label for="">
            rating
        <input type="text" name="rating">
    </label>
    <button>Submit new Book</button>
</form>

{{#each allAuthors}}
    {{name}}
    {{age}}
{{/each}}